@page
@model TenderingApp.Areas.Tenders.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Tender</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tender.RefNo" class="control-label"></label>
                <input asp-for="Tender.RefNo" class="form-control" />
                <span asp-validation-for="Tender.RefNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tender.Title" class="control-label"></label>
                <input asp-for="Tender.Title" class="form-control" />
                <span asp-validation-for="Tender.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tender.NoticeDate" class="control-label"></label>
                <input asp-for="Tender.NoticeDate" class="form-control" />
                <span asp-validation-for="Tender.NoticeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tender.TenderDetails" class="control-label"></label>
                <input asp-for="Tender.TenderDetails" class="form-control" />
                <span asp-validation-for="Tender.TenderDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tender.TenderDoc" class="control-label"></label>
                <input asp-for="Tender.TenderDoc" class="form-control" />
                <span asp-validation-for="Tender.TenderDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tender.EndDate" class="control-label"></label>
                <input asp-for="Tender.EndDate" class="form-control" />
                <span asp-validation-for="Tender.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tender.OrganizationName" class="control-label"></label>
                <select asp-for="Tender.OrganizationName" class ="form-control" asp-items="ViewBag.OrganizationName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
