@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Click below</h1>
    <p>See Tenders <a asp-area="Tenders" asp-page="./Index">Click here</a>.</p>
</div>
