@page
@model TenderingApp.Areas.SubCategories.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubCategory.CategoryName" class="control-label"></label>
                <select asp-for="SubCategory.CategoryName" class="form-control" asp-items="ViewBag.CategoryName"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory.SubCategoryName" class="control-label"></label>
                <input asp-for="SubCategory.SubCategoryName" class="form-control" />
                <span asp-validation-for="SubCategory.SubCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory.AboutSubCategory" class="control-label"></label>
                <input asp-for="SubCategory.AboutSubCategory" class="form-control" />
                <span asp-validation-for="SubCategory.AboutSubCategory" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="SubCategory.Icon" class="control-label"></label>
            <input asp-for="SubCategory.Icon" class="form-control" />
            <span asp-validation-for="SubCategory.Icon" class="text-danger"></span>
        </div>*@

            <label asp-for="SubCategory.Icon" class="control-label"></label>
            <input type="file" name="files" />
            <span asp-validation-for="SubCategory.Icon" class="text-danger"></span>
            <br />
            <br />


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SubCategory.Status" /> @Html.DisplayNameFor(model => model.SubCategory.Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
